/* Demo.css File Author: Jack Ducasse;
Version: 0.1.0;
Retrived from: https://github.com/jackducasse/caleandar
(◠‿◠✿) */

body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}
