.title{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;

}

.subtitle{
    text-align: center;
}

button{
    background-color: #4286f4;
    border-color: #4286f4;
}

tr{
    display:flow-root;
}

body{
    background-color: #4286f4;
}

.bottom-bar{
    text-align: center;
    background-color: #a3bfed;
}
