.title{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;

}
.subtitle{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}
h4{
    font-family: Tahoma, Geneva, sans-serif;
}

p{
    font-family: Tahoma, Geneva, sans-serif;
}

table{
    width:auto;
    border: 1px soild black;
    padding-left: 1vw;
    padding-right: 1vw;
}

button{
    background-color: #cedbef;
    border-color: #cedbef;
}

body{
    background-color: #cedbef;
}
header{
        background-color: #cedbef;
}
.bottom-bar{
    text-align: center;
    background-color: #e6ecf7;
    width: 100%;
}
